@media only screen and (min-width: 1140px) {
    :root {
        --smallest: 0.5rem;
        --smaller: 1rem;
        --small: 1.5rem;
        --mid-small: 2rem;
        --mid: 2.5rem;
        --mid-large: 3rem;
        --mid-larger: 4rem;
        --large: 5rem;
        --i5: 5.5rem;
        --i14: 14rem;
        --i20: 20rem;
        --i15: 15rem;
        --i11: 11rem;
    }
    body .our:hover .ourServices {
        display: inline-block;
        width: max-content;
        position: absolute;
    }
    body .about:hover .aboutUs {
        display: inline-block;
        width: max-content;
    }
    body .invisible3:hover,
    .texxt3s:hover .invisible3 {
        display: inline-block;
        position: absolute;
        right: 88%;
        bottom: 20%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body .invisible4:hover,
    .texxt4s:hover .invisible4 {
        display: inline-block;
        position: absolute;
        left: 51%;
        top: 0%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
}
@media only screen and (max-width: 1139px) {
    :root {
        --smallest: 0.2rem;
        --smaller: 0.6rem;
        --small: 1rem;
        --mid-small: 1.5rem;
        --mid: 2rem;
        --mid-large: 2.2rem;
        --mid-larger: 2.9rem;
        --large: 3.5rem;
        --i5: 3.75rem;
        --i14: 10rem;
        --i20: 14rem;
        --i15: 11rem;
        --i11: 7.5rem;
    }
    body .about:hover .aboutUs {
        display: inline-block;
        width: max-content;
        left: calc(var(--i11));
    }
    body .our:hover .ourServices {
        display: inline-block;
        width: max-content;
        left: calc(var(--i11));
    }
    body .invisible3:hover,
    .texxt3s:hover .invisible3 {
        display: inline-block;
        position: absolute;
        right: 88%;
        bottom: 20%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body .invisible4:hover,
    .texxt4s:hover .invisible4 {
        display: inline-block;
        position: absolute;
        left: 51%;
        top: 0%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
}

@media only screen and (min-width: 769px) {
    body .contact-form {
        height: 50vh;
    }
    body .map-if iframe {
        height: 50vh;
    }
}
@media only screen and (min-width: 769px) and (max-width: 930px) {
    body .dis img {
        width: 3rem;
    }
    body .invisible3:hover,
    .texxt3s:hover .invisible3 {
        display: inline-block;
        position: absolute;
        right: 88%;
        bottom: 20%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body .invisible4:hover,
    .texxt4s:hover .invisible4 {
        display: inline-block;
        position: absolute;
        left: 51%;
        top: 0%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --smallest: 0.2rem;
        --smaller: 0.6rem;
        --small: 1rem;
        --mid-small: 1.5rem;
        --mid: 2rem;
        --mid-large: 2.2rem;
        --mid-larger: 2.9rem;
        --large: 3.5rem;
        --i5: 3.75rem;
        --i14: 10rem;
        --i20: 14rem;
        --i15: 11rem;
        --i11: 7.5rem;
    }
    body .about:hover .aboutUs {
        display: inline-block;
        width: max-content;
        left: calc(var(--i11) * 1);
    }
    body .our:hover .ourServices {
        display: inline-block;
        width: max-content;
        left: calc(var(--i11) * 1);
    }
    body .shb img {
        width: var(--i11);
        height: var(--i11);
    }
    body .invisible3:hover,
    .texxt3s:hover .invisible3 {
        display: inline-block;
        position: absolute;
        right: 0%;
        bottom: -50%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body .invisible4:hover,
    .texxt4s:hover .invisible4 {
        display: inline-block;
        position: absolute;
        left: -51%;
        top: 0%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body #content {
        min-height: 50vh;
    }
}
@media only screen and (max-width: 555px) {
    :root {
        --smallest: 0.15rem;
        --smaller: 0.45rem;
        --small: 0.8rem;
        --mid-small: 1rem;
        --mid: 1.5rem;
        --mid-large: 1.6rem;
        --mid-larger: 2rem;
        --large: 2.4rem;
        --i5: 2.5rem;
        --i14: 8rem;
        --i20: 10.5rem;
        --i15: 8rem;
        --i11: 5rem;
    }
    body .about:hover .aboutUs {
        display: inline-block;
        width: max-content;
        left: calc(var(--i11) * 1);
    }
    body .our:hover .ourServices {
        display: inline-block;
        width: max-content;
        left: calc(var(--i11) * 1);
    }
    body .invisible3:hover,
    .texxt3s:hover .invisible3 {
        display: inline-block;
        position: absolute;
        left: 0%;
        bottom: -60%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body .invisible4:hover,
    .texxt4s:hover .invisible4 {
        display: inline-block;
        position: absolute;
        left: -50%;
        top: 23%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body .proj-head,
    body .ov-info,
    body .intro {
        width: 90%;
    }
}

@media only screen and (max-width: 410px) {
    :root {
        --smallest: 0.1rem;
        --smaller: 0.3rem;
        --small: 0.5rem;
        --mid-small: 0.75rem;
        --mid: 1rem;
        --mid-large: 1.1rem;
        --mid-larger: 1.4rem;
        --large: 1.8rem;
        --i5: 1.87rem;
        --i14: 5rem;
        --i20: 6.6rem;
        --i15: 5.5rem;
        --i11: 3.75rem;
    }
    body .about:hover .aboutUs {
        display: inline-block;
        width: max-content;
        left: calc(var(--i11) * 1);
    }
    body .our:hover .ourServices {
        display: inline-block;
        width: max-content;
        left: calc(var(--i11) * 1);
    }
    body .invisible3:hover,
    .texxt3s:hover .invisible3 {
        display: inline-block;
        position: absolute;
        left: 0%;
        bottom: -70%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body .invisible4:hover,
    .texxt4s:hover .invisible4 {
        display: inline-block;
        position: absolute;
        left: 0%;
        top: 40%;
        background-color: rgb(48, 71, 87);
        width: max-content;
        max-width: var(--i14);
        text-align: left;
        color: white;
        font-size: var(--smaller);
        border-radius: 5%;
        padding: var(--smallest);
    }
    body .proj-head {
        width: 90%;
    }
}
/*////////////////////////////////////////////////////////////////////////////*/
body {
    margin: 0;
    padding: 0;
    position: relative;
}

#content {
    max-width: 1350px;
    margin: auto;
}

h1 {
    font-size: var(--small);
}

.global-mission {
    margin-bottom: var(--smaller);
    background-color: rgb(0, 0, 139, 10%);
}

.main {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    offset: 0;
    width: var(--i11);
    transition: all ease-in-out;
    z-index: 500;
}
.main button {
    background-color: darkblue;
    display: inline-block;
}

.main a > img {
    width: 19%;
    display: inline;
}
#haha {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
#haha:hover {
    background-color: rgb(48, 71, 87);
}
#haha a:hover {
    background-color: rgb(48, 71, 87);
}
#view {
    display: block;
    margin: auto;
    padding: var(--smallest);
}

#hide {
    display: none;
    margin: auto;
    padding: var(--smallest);
}

.n a {
    display: block;
    color: black;
    text-align: center;
    padding: var(--small);
    text-decoration: none;
    font-size: var(--smaller);
    font-family: sans-serif;
}

.n:hover {
    background-color: rgb(48, 71, 87);
    text-decoration: none;
}
.n a:hover {
    background-color: rgb(48, 71, 87);
    text-decoration: none;
    color: white;
}

.n {
    text-align: center;
    background: white;
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
    transition: display 1s ease-in-out;
}
#i1,
#i2,
#i3,
#i4,
#i5,
#i6 {
    display: none;
}
.about {
    position: relative;
}

.aboutUs {
    display: none;
    position: absolute;
    list-style-type: none;
    top: 0;
    left: var(--i11);
    text-align: center;
    padding: 0;
    border-radius: 12%;
}

.about:hover .aboutUs li {
    background-color: white;
}

.our {
    position: relative;
}

.ourServices {
    display: none;
    position: absolute;
    list-style-type: none;
    top: 0;
    left: var(--i11);
    text-align: center;
    padding: 0;
    border-radius: 12%;
}

.our:hover .ourServices li {
    background-color: white;
}

/*/ ////////////////////////*/
.slideanim {
    visibility: hidden;
    visibility: visible\9; /*For old IE browsers IE6-8 */
}
.slideanim.slide {
    visibility: visible;
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    display: block;
    width: 100%;
    height: calc(var(--i20) * 2);
    margin-bottom: var(--smaller);
    padding: 0;
}
.hcont {
    display: block;
    width: 100%;
    height: calc(var(--i20) * 2);
    margin-bottom: var(--smallest);
    padding: 0;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
}

header .logo-container {
    text-align: center;
    width: 50%;
    margin: auto;
    position: relative;
    top: 25%;
    font-size: var(--mid);
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    z-index: 400;
    font-weight: lighter;
}
.logo-container p {
    margin: 0;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

/* Setup For An Image That Fits On Most Screens And Resizes*/
header .xxx {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: back;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    -webkit-animation-name: back;
    -webkit-animation-duration: 15s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    width: 100%;
    height: calc(var(--i20) * 2);
}

.an div:nth-child(2) {
    animation-delay: 3s;
}
.an div:nth-child(3) {
    animation-delay: 6s;
}
.an div:nth-child(4) {
    animation-delay: 9s;
}
.an div:nth-child(5) {
    animation-delay: 12s;
}

@keyframes back {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*/////////////////////////////////////////////*/
.intro {
    text-align: center;
    width: 65%;
    color: black;
    padding: var(--smallest);
    margin: auto;
}
.intro hr {
    width: 50%;
    margin: auto;
    margin-top: var(--mid);
}
.intro-text {
    font-size: var(--mid-small);
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-bottom: var(--mid-large);
}

.intro-info {
    font-size: var(--smaller);
    text-align: justify;
    font-family: sans-serif;
    text-align-last: center;
}
/*///////////////////////////////////////////*/
.triconz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}

.disz {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.disch > img {
    max-width: 50%;
    display: inline-block;
}
.disch > .fst {
    max-width: 30%;
    display: inline-block;
}
.disz > .disch {
    width: 30%;
}
.disz > a {
    width: 30%;
}

.dis-h1 {
    font-family: sans-serif;
    font-size: var(--small);
    color: black;
    text-align: center;
    display: block;
    position: relative;
    bottom: 0;
    width: 30%;
}

.dis-span {
    padding: var(--smaller);
    text-decoration: none;
    font-size: var(--smaller);
    color: rgb(7, 6, 6);
}

.dis-span:hover {
    background-color: rgb(253, 253, 253);
    cursor: pointer;
}

.clients {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    margin: auto;
    max-height: 100%;
}

.clients img {
    width: var(--mid-large);
    height: var(--mid-large);
    margin: 0;
    display: inline-block;
}

.client-textz {
    font-family: sans-serif;
    font-size: var(--mid-small);
    color: black;
    text-align: center;
}

/*footer*/
.site-footer {
    background-color: rgb(48, 71, 87);
    font-size: var(--smaller);
    color: white;
    padding: var(--smallest);
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.site-footer a:hover {
    color: wheat;
}
.site-footer h6 {
    font-size: calc(var(--small) * 0.8);
    font-family: sans-serif;
    margin: auto;
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.foot-com {
    display: inline-block;
    text-align: left;
    width: 18%;
    font-family: sans-serif;
    padding: 0.1px;
}
.foot-com-1 {
    display: inline-block;
    text-align: center;
    width: 22%;
    font-family: sans-serif;
}
.foot-com2 {
    display: inline-block;
    text-align: left;
    width: 38%;
    font-family: sans-serif;
}
.foot-com2 p {
    margin-top: 0;
}
.foot-com-1 img {
    width: 90%;
    display: block;
    margin-left: 0;
}

.foot-slo {
    font-family: sans-serif;
    font-size: var(--smallers);
    color: white;
    display: inline-block;
    margin: 0;
}

.footer-links a {
    font-size: var(--smaller);
}

.footer-links {
    margin: auto;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

.lgs {
    float: right;
    margin-right: var(--smaller);
}

.lgs img {
    width: var(--mid-small);
    height: var(--mid-small);
    margin-right: var(--smallest);
}
/* OVERVIEW STYLES */

.ov-title {
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: var(--mid-small);
    font-family: sans-serif;
}
.ov-logo {
    max-width: 30%;
    display: block;
    margin: auto;
}
.ov-h1 {
    font-weight: bold;
    color: rgb(57, 172, 233);
    text-align: center;
    font-size: var(--small);
    font-family: sans-serif;
    margin: auto;
}

.ov-text {
    color: rgb(27, 24, 24);
    text-align: justify;
    font-size: var(--smaller);
    font-family: sans-serif;
    width: inherit;
    margin: auto;
    text-align-last: center;
}

.shb-hdr {
    font-weight: bolder;
    color: black;
    text-align: left;
    font-size: var(--small);
    font-family: sans-serif;
    margin-left: var(--smaller);
}

.shb img {
    max-width: 80%;
    object-fit: contain;
}

.shb-g {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}
#overviewer {
    width: 70%;
    margin: auto;
    margin-bottom: var(--mid);
    padding: var(--smallest);
}
/*///////////////////////////////*/
/*history*/
.history {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: var(--smaller);
    margin: var(--smaller);
    height: max-content;
}

.ntbk {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 50%;
    height: max-content;
}

.ntbk .p1 {
    color: black;
    text-align: left;
    font-size: var(--smaller);
    font-family: sans-serif;
    margin-left: var(--smaller);
    z-index: 1;
}

.ntbk .p2 {
    color: black;
    text-align: left;
    font-size: var(--mid-small);
    font-family: sans-serif;
    margin-left: var(--smaller);
    z-index: 1;
}

.ntbk .p2::first-letter {
    font-size: var(--mid-larger);
    font-family: sans-serif;
}

.ntbk img {
    text-align: center;
    z-index: -1;
    position: absolute;
    top: 15%;
    left: 15%;
    width: var(--i20);
    height: var(--i20);
    opacity: 0.35;
}

.his-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.his-imgs img {
    width: calc(var(--i11));
    height: calc(var(--i11));
}

/*////////////////////////////
Mission */
.invisible1,
.invisible2,
.invisible3,
.invisible4,
.invisible5,
.invisible6 {
    z-index: 999999;
}
.global-inline {
    margin: auto;
    margin-bottom: var(--smaller);
    display: block;
    width: 90%;
}

.mis-circle-cont {
    margin: var(--smaller);
    display: flex;
    flex-direction: column;
    padding: var(--smaller);
}

.mis-h1 {
    color: black;
    text-align: center;
    font-size: var(--mid-small);
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
}

.mis-h1-info {
    color: black;
    text-align: center;
    font-size: var(--smaller);
    font-family: sans-serif;
    margin: 0;
}
.st-2 {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.rd-2 {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.nd-3 {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.mis-logo-cont {
    border-radius: 50%;
}
.mis-logo-cont img {
    margin: var(--smaller);
    width: var(--i20);
}

.mis-h2 {
    color: black;
    font-size: var(--small);
    font-family: sans-serif;
}

.mis-h3 {
    color: black;
    font-size: var(--small);
    font-family: sans-serif;
}

.invisiblex {
    display: none;
}

.texxt1s {
    border: 1px solid black;
    border-radius: 70%;
    padding: var(--smaller);
    width: var(--i11);
    position: relative;
}

.texxt2s {
    border: 1px solid black;
    border-radius: 70%;
    padding: var(--smaller);
    width: var(--i11);
    position: relative;
}

.texxt3s {
    border: 1px solid black;
    border-radius: 70%;
    padding: var(--smaller);
    width: var(--i15);
    position: relative;
}

.texxt4s {
    border: 1px solid black;
    border-radius: 70%;
    padding: var(--smaller);
    width: var(--i11);
    position: relative;
}

.texxt5s {
    border: 1px solid black;
    border-radius: 70%;
    padding: var(--smaller);
    width: var(--i11);
    position: relative;
}

.texxt6s {
    border: 1px solid black;
    border-radius: 70%;
    padding: var(--smaller);
    width: var(--i11);
    position: relative;
}

.invisible1:hover,
.texxt1s:hover .invisible1 {
    display: inline-block;
    position: absolute;
    right: 101%;
    bottom: 20%;
    background-color: rgb(48, 71, 87);
    width: max-content;
    max-width: var(--i14);
    text-align: left;
    color: white;
    font-size: var(--smaller);
    border-radius: 5%;
    padding: var(--smallest);
}
.invisible2:hover,
.texxt2s:hover .invisible2 {
    display: inline-block;
    position: absolute;
    left: 101%;
    bottom: -30%;
    background-color: rgb(48, 71, 87);
    width: max-content;
    max-width: var(--i14);
    text-align: left;
    color: white;
    font-size: var(--smaller);
    border-radius: 5%;
    padding: var(--smallest);
}

.invisible5:hover,
.texxt5s:hover .invisible5 {
    display: inline-block;
    position: absolute;
    right: 101%;
    bottom: 20%;
    background-color: rgb(48, 71, 87);
    width: max-content;
    max-width: var(--i14);
    text-align: left;
    color: white;
    font-size: var(--smaller);
    border-radius: 5%;
    padding: var(--smallest);
}
.invisible6:hover,
.texxt6s:hover .invisible6 {
    display: inline-block;
    position: absolute;
    left: 101%;
    bottom: 20%;
    background-color: rgb(48, 71, 87);
    width: max-content;
    max-width: var(--i14);
    text-align: left;
    color: white;
    font-size: var(--smaller);
    border-radius: 5%;
    padding: var(--smallest);
}

/*/////////////////////////////// 
Contact us page */

.contcont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.map-if {
    margin: auto;
    width: 60%;
    height: 100%;
    text-align: center;
    margin-bottom: var(--smaller);
    overflow: hidden;
}

.map-if iframe {
    width: 100%;
}

.contact-form {
    width: 30%;
    height: max-content;
    margin: auto;
    margin-bottom: var(--smaller);
    border-radius: 4%;
    padding: var(--smallest);
    display: block;
}

.chead-1 {
    text-align: center;
    font-family: sans-serif;
    font-size: var(--mid-small);
    font-weight: bold;
    color: black;
    margin: 0;
    margin-bottom: var(--smaller);
    padding: var(--smallest);
}

.chead {
    text-align: left;
    font-family: sans-serif;
    font-size: calc(var(--smaller) * 1.25);
    color: black;
    display: inline-block;
    margin: 0;
    margin-bottom: var(--smaller);
}

.ctxt {
    text-align: left;
    font-family: sans-serif;
    font-size: var(--smaller);
    color: black;
    display: inline-block;
    margin: 0;
    margin-bottom: var(--smaller);
}

/*////////////////////
technical design office styles /*/

.proj-head {
    margin: auto;
    text-align: justify;
    width: 50%;
}

.proj-hd-txt {
    font-family: sans-serif;
    font-size: var(--mid-small);
    color: black;
    display: block;
    margin: auto;
    margin-bottom: var(--smaller);
    text-align: center;
}

.proj-hd-txt1 {
    font-family: sans-serif;
    font-size: var(--smaller);
    color: black;
    display: inline-block;
    margin: 0;
    margin-bottom: var(--smaller);
}

/*////////////
careers /*/
.carr {
    width: 50%;
    margin: auto;
}
.link-span {
    font-size: var(--smaller);
    padding: var(--smallest);
    text-align: justify;
}
.link-span a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.link-span:hover a {
    color: gray;
}
.careers-head {
    margin: auto;
    text-align: center;
}

.careers-hd-txt {
    font-family: sans-serif;
    font-size: var(--mid-small);
    color: black;
    display: block;
    margin: auto;
    margin-bottom: var(--smaller);
    text-align: center;
    text-align-last: center;
}

.careers-hd-txt1 {
    font-family: sans-serif;
    font-size: var(--smaller);
    color: black;
    display: inline-block;
    margin: 0;
    margin-bottom: var(--smaller);
    text-align-last: center;
}

/*//////////
quality statement /*/
.qsx {
    width: 100%;
    display: flex;
    justify-content: center;
}
.qsx > div {
    width: 46%;
    text-align: center;
}
.qsx > div > img {
    max-width: 40%;
}
.qsx > div > p b {
    font-size: var(--mid-small);
    color: rgb(57, 172, 233);
}
.qsx > div > p {
    text-align: center;
    max-width: 60%;
    text-align-last: center;
}
.qsx text {
    font-size: calc(var(--small) * 0.8);
    font-weight: bold;
    display: block;
    margin: auto;
    font-family: sans-serif;
    max-width: 60%;
}
.qs {
    width: 40%;
    font-size: calc(var(--smaller));
    text-align: justify;
}
.qs > li {
    margin-bottom: var(--small);
    margin-top: var(--small);
}
.qs-1 {
    text-align-last: center;
}

.ry-list li {
    color: black;
    font-size: calc(var(--smaller));
    padding: 1px;
    margin: var(--smallest);
}
/*///////////////////////**/

.slidez {
    width: var(--i20);
    height: var(--i15);
    overflow: hidden;
    position: relative;
    background-color: transparent;
    display: inline-block;
    margin: var(--small);
}
.contained div {
    background-size: contain;
}
.covered div {
    background-size: cover;
}
.contained span {
    background-size: contain;
}
.covered span {
    background-size: cover;
}
.slidez div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}
.slidez > span:hover div {
    animation: slideshowz 15s infinite;
}
.slidez > span:hover span {
    opacity: 1;
}

.slidez > span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.slidez > span > span {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}
.slidexz {
    width: var(--i20);
    height: var(--i15);
    overflow: hidden;
    position: relative;
    background-color: white;
    display: inline-block;
    margin: var(--small);
}

.slidexz > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
}
.sli-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.sli-cont h1 {
    color: black;
    margin-left: var(--smallest);
    margin-right: var(--smallest);
}

.slidez > span div:nth-child(2) {
    animation-delay: 3s;
}
.slidez > span div:nth-child(3) {
    animation-delay: 6s;
}
.slidez > span div:nth-child(4) {
    animation-delay: 9s;
}
.slidez > span div:nth-child(5) {
    animation-delay: 12s;
}

@keyframes slideshowz {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/*/ /////////////////////////////////*/

.cl-page {
    width: 100%;
    margin: auto;
    text-align: center;
}
.cl-page img {
    width: 80%;
}
.cl-h1 {
    font-size: var(--mid-larger);
    font-family: sans-serif;
    color: rgb(56, 45, 45);
}

/*///////////////////////////*/
.hint {
    color: rgb(57, 172, 233);
    font-size: var(--smaller);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: capitalize;
}
